* {
    font-family: "Georgia", serif;
}

p, h1, label, input {
    color: white;
}

.form-text {
    color: wheat;
}

#loginElegir {
    display: flex;
    align-items: center;
    margin-top: 10px;
}