* {
    font-family: "Georgia", serif;
}

p, h1, label, input {
    color: white;
}

.form-text {
    color: wheat;
}

#loginElegir {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

body {
    background-image: url("../../../assets/images/fondo_login.jpg");
    backdrop-filter: blur(15px);
}

#fondoLogin {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-width: .5px;
}