services:
  postgres:
    image: postgres:17
    container_name: barkly-postgres
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: barkly-backend
    ports:
      - "${BACKEND_PORT}:3000"
    env_file:
      - ./.env
    depends_on:
      - postgres
    volumes:
      - ./src/backend:/app
      - /app/node_modules

    command: npx nodemon server.js


  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: barkly-frontend
    ports:
      - "${FRONTEND_PORT}:8000"
    volumes:
      - ./src/public:/app 
    command: npx http-server /app -p 8000 --cors



volumes:
  pgdata:
