* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url("../../../assets/images/fondo_crear-post.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#navbar-negra {
    background-color: black;
}

#texto-navbar {
    color: red;
}

.titulos {
    color: wheat;
    text-shadow: 2px 2px 2px darkred;
}

#descripcion-del-titulo {
    color: gray;    
}

.cajas-de-texto {
    color: white;
    background-color: darkred; 
}


.table th, .table td {
    background-color: darkred; 
    color: white;
}

.table input {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: 1px solid white;
}

#formulario {
    backdrop-filter: blur(5px);
    border: 1px outset;
    border-color: #adaa8e;
    box-shadow: 2px 2px 1px darkred;
}