

body {
    font-family: 'Oswald', sans-serif;
    background: #191919;
}

.navbar {
  background: linear-gradient(90deg, #222222 0%, #000000 100%);
}

.navbar-brand {
    font-family: 'Oswald', oblique;
    color:#DC3545;
    font-size: 30px;
    font-weight: 500;
}

.buscador{
    margin-left: 45px;
}

#mas-info #iniciar-sesion {
    margin-right: 10px;
}

#mas-info .nav-link {
    font-size: 19px;
    color:#DC3545;
    margin-right: 10px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.admin-section {
    padding: 60px 0;
}

.admin-header {
    margin-bottom: 40px;
    text-align: center;
}

.admin-header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color:  var(--text);
}

.admin-header p {
    color: var(--light-text);
    font-size:  1.1rem;
    max-width: 700px;
    margin: 0 auto;
}

.cuidador-form {
    background-color: #0000;
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 40px;
}

.form-control {
    width: 100%;
    padding: 12px;
    background-color: #0000;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    color: var(--text);
    font-size: 1rem;
    border: none;
}

.form-control:focus {
    border-color: var(--accent);
    outline: none;
}

h2, h3 {
    color: #FFFF;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #DC3545;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

.paquetes-container, .photos-container {
    max-width: 900px;
    margin: auto;
    background: #0000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.service-plan {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
}
.service-plan h4 {
    margin: 0;
    color: #444;
}

.btn-success {
    width: 100%;
    padding: 15px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-success:hover {
    background: #45A049;
}