
* {
    font-family: 'Oswald', sans-serif;
   
}

body {
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,  
    rgba(0, 0, 0, 0) 100%),
    url(../../../assets/images/fondo_usuario.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
    cursor: url(../../../assets/images/cursor_default.png), auto;
    max-width: 100%;
   
}

a, .round {
    cursor: url(../../../../assets/images/click.png), auto;
}

.navbar {
  background: linear-gradient(180deg, #1a1a1a 0%, #000000 100%);
  position: sticky;
  width: 100%;
}

.navbar-brand {
    font-family: 'Oswald', oblique;
    color:#DC3545;
    font-size: 30px;
    font-weight: 500;
    
}


#mas-info #iniciar-sesion {
    margin-right: 10px;
}

#mas-info .nav-link {
    font-size: 19px;
    color:rgb(220, 53, 69);
    margin-right: 10px;
}

.buscador{
    margin-left: 45px;
    top: 0px;
}

[role=button] {
  margin-right: 10px;
}

.btn:hover {
    cursor: url(../../../assets/images/click.png), pointer;
}

.izquierda {
  display: flex;
  align-items: center; 
  gap: 15px;
}

.imagen-placeholder img {
  display: block;
  border-radius: 50%;
}

#usuario-foto {
    margin-left: 375px;
    margin-right: 300px;
    width: 750px;
}

.info-usuario {
    padding-left: 20px;
}

.upload {
    width: 100px;
    margin: auto;
}

.upload img {
    border-radius: 50%;
    text-align: center;
    border: 3px solid #ffffff;
    margin-bottom: 5px;
   
}

.upload .round {
    background: #b12b2b;
    border-radius: 5px;
    height: 32px;
    width: 100px;
    text-align: center;
    overflow: hidden;
}

.upload .round input[type='file'] {
    position: absolute;
    transform: scale(2);
    opacity: 0;
    text-align: right;
}

 
.contenedor-general {
    text-align: center;
    justify-content: center;
}

.titulo-pagina {
    margin-top: 40px;
    color:beige;
    text-shadow: 2px 2px 1px darkred;
}

.header {
    background: linear-gradient(90deg, #DC3545 0%, #e96830  100%);
    box-shadow: 2px 2px 1px darkred;
    border-radius: 10px;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 130px;
    display: flex;
    align-items: center;
    height: 150px; 

}
.usuario-header {
    text-align: center;
    background: #b12b2b;
    color: #fff;
    border-radius: 10px ;
    height: 30px;
    width: 60px;
    font-weight: 100px;
}

.container {
    display:flex;
    gap: 20px;
}

.formulario {
    flex-direction: column;
    gap: 20px; 
    background-color: #1a1a1a; 
    box-shadow: 2px 2px 1px darkred;
    color:antiquewhite;
    border-radius: 20px;
    padding: 40px;
    width: 500px;
    height: auto;
}

.sobre-mi {
    height: 70px;
}

.derecha {
    display: flex;
    flex: 1;
    gap:40px;
    text-align: left;
}
.mis-mascotas {
    flex: 1;
    text-align: left;
    padding: 15px;
    height: 200px;
    border-radius: 20px;
    background-color: bisque;
    box-shadow: 2px 2px 1px darkred;
}

.anadir {
    position: relative;
    flex-direction: column;
    margin-top: auto;
}

.mis-reviews {
    flex: 1;
    padding: 15px;
    height: 300px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 1px darkred;
}

#guardar-boton {
    margin-top: 30px;
}