

body {
    font-family: 'Oswald', sans-serif;
    background-image: url("/assets/images/fondo_pagina-cuidador.jpg");
}

.navbar {
  background: linear-gradient(90deg, #222222 0%, #000000 100%);
}

.navbar-brand {
    font-family: 'Oswald', oblique;
    color: #DC3545;
    font-size: 30px;
    font-weight: 500;
}

.buscador{
    margin-left: 45px;
}

#mas-info #iniciar-sesion {
    margin-right: 10px;
}

#mas-info .nav-link {
    font-size: 19px;
    color:#DC3545;
    margin-right: 10px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.admin-section {
    padding: 60px 0;
}

.admin-header {
    margin-bottom: 40px;
    text-align: center;
    /*color: #FFFF;*/
    background-color: #fa1f026c;
}

.admin-header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color:  var(--text);
}

.admin-header p {
    color: var(--light-text);
    font-size:  1.5rem;
    max-width: 700px;
    margin: 0 auto;
}

.cuidador-info {
    padding: 0 20%;
}

.form-control {
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #3a3a3a;
    border-radius: 4px;
    color: var(--text);
    font-size: 1rem;
    border: none;
}

.form-control:focus {
    border-color: var(--accent);
    outline: none;
}

h2, h3 {
    font-size: 30px;
    font-family: 'Oswald', oblique;
}

label, h3 {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: wheat;
    text-shadow: 2px 2px 2px darkred;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #a3a0a0;
}

.section-terms{
    font-weight: bold;
    display: block;
    color: #DC3545;
    padding: 0 10%;
}

.title-campo {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Oswald', oblique;
}

.label-beneficios {
    margin-top: 10px;
    margin-bottom: 0;
    color: #DC3545;
    font-weight: bold;
}

.photos-container {
    max-width: 900px;
    margin: auto;
    background: #000000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.service-plan {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0.4rem 0.4rem #DC3545;

}
.service-plan h4 {
    margin: 0;
    color: #444;
}

.btn-success {
    width: 100%;
    padding: 15px;
    background: #DC3545;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
}

.btn-success:hover {
    background: #440E03;
}

.checkbox-y-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-input {
    width: 3px;
    height: 3px;
    margin-right: 5px; 
}

.admin-header h1, .admin-header p {
   color: white; 
}