* {
    font-family: 'Oswald', sans-serif;

}

p, h1, label, input, .texto-elegir {
    color: white;
}

.form-text {
    color: wheat;
    text-shadow: 2px 2px 1px darkred;
}

#loginElegir {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

body {
    background-image: url("../../../assets/images/fondo_login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    cursor: url(../../../assets/images/cursor_default.png), auto;
}

.btn:hover {
    cursor: url(../../../assets/images/click.png), pointer;
}

#fondoLogin {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 3px outset;
    border-color: #adaa8e;
    box-shadow: 2px 2px 1px darkred;
}

#iconoSuperheroe, #iconoCliente {
    width: 40px;
    height: 40px;
}

a {
    color: red;
}
