
* {
    font-family: 'Oswald', sans-serif;
   
}

body {
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%),
    url(../assets/images/fondo_ver_superheroe.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
    cursor: url(../assets/images/cursor_default.png), auto;
    max-width: 100%;
   
}

a, .round {
    cursor: url(../assets/images/click.png), auto;
}

.navbar {
  background: linear-gradient(180deg, #1a1a1a 0%, #000000 100%);
  position: sticky;
  width: 100%;
}

.navbar-brand {
    font-family: 'Oswald', oblique;
    color:#DC3545;
    font-size: 30px;
    font-weight: 500;
    
}

#mas-info #iniciar-sesion {
    margin-right: 10px;
}

#mas-info .nav-link {
    font-size: 19px;
    color:rgb(220, 53, 69);
    margin-right: 10px;
}

.buscador{
    margin-left: 45px;
    top: 0px;
}

[role=button] {
  margin-right: 10px;
}

.btn:hover {
    cursor: url(../assets/images/click.png), pointer;
}

.izquierda {
  display: flex;
  align-items: center; 
  gap: 15px;
}

.imagen-placeholder img {
  display: block;
  border-radius: 50%;
}

#usuario-foto {
    margin-left: 375px;
    margin-right: 300px;
    width: 750px;
}

.info-usuario {
    padding-left: 20px;
}

.foto-perfil {
    width: 100px;
    margin: auto;
}

#profilePic {
    border-radius: 50%;
    text-align: center;
    border: 3px solid #ffffff;
    margin-bottom: 5px;
    margin-top: 30px;
   
}

.contenedor-general {
    text-align: center;
    justify-content: center;
}

.informacion_cuidador {
    display: flex;
}

.nombre-cuidador {
    margin-top: 40px;
    color:beige;
    text-shadow: 2px 2px 1px darkred;
    text-align: right;
    margin-left: 10px;
    flex: 1;
}

.franquicia {
    color: #ae7c7c
}


.contenedor {
    margin-top: 20px;
    gap: 20px;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.derecha {
    display: flex;
    flex: 1;
    gap:40px;
    text-align: right;
}

.izquierda {
  display: flex;
  align-items: left; 
  gap: 15px;
}


.mis-paquetes {
    text-align: left;
    padding: 15px;
    height: auto;
    max-height: none;
    overflow: visible;
    border-radius: 20px;
    background-color: #db293b;
    box-shadow: 2px 2px 1px darkred;
    justify-content: space-between;
    align-items: center;

}

.anadir {
    flex-direction: column;
    margin-top: auto;
}

.paquetes {
    flex: 1;
    padding: 15px;
    height: 300px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 1px darkred;
}

.anadir {
    width: 100px;
    margin-bottom: 20px;

}