
* {
    font-family: 'Oswald', sans-serif;
   
}

body {
    background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%),
    url(../assets/images/fondo_ver_superheroe.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
    background-position: center;
    cursor: url(../assets/images/cursor_default.png), auto;
    max-width: 100%;
   
}

a, .round {
    cursor: url(../assets/images/click.png), auto;
}

.navbar {
  background: linear-gradient(180deg, #1a1a1a 0%, #000000 100%);
  position: sticky;
  width: 100%;
}

.navbar-brand {
    font-family: 'Oswald', oblique;
    color:#DC3545;
    font-size: 30px;
    font-weight: 500;
    
}

#mas-info #iniciar-sesion {
    margin-right: 10px;
}

#mas-info .nav-link {
    font-size: 19px;
    color:rgb(220, 53, 69);
    margin-right: 10px;
}

.buscador{
    margin-left: 45px;
    top: 0px;
}

[role=button] {
  margin-right: 10px;
}

.btn:hover {
    cursor: url(../assets/images/click.png), pointer;
}

.izquierda {
  display: flex;
  align-items: center; 
  gap: 15px;
}

.imagen-placeholder img {
  display: block;
  border-radius: 50%;
}

#usuario-foto {
    margin-left: 375px;
    margin-right: 300px;
    width: 750px;
}

.info-usuario {
    padding-left: 20px;
}

.foto-perfil {
    width: 100px;
    margin: auto;
}

#profilePic {
    border-radius: 50%;
    text-align: center;
    border: 3px solid #ffffff;
    margin-bottom: 5px;
    margin-top: 30px;
   
}

.contenedor-general {
    text-align: center;
    justify-content: center;
}

.nombre-cuidador {
    color:beige;
    text-shadow: 2px 2px 1px darkred;
    flex: 1;
}

.franquicia {
    color: #ae7c7c;
    text-align: center;
}

.box {
    display: flex;
}

.contenedor {
    margin-top: 20px;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}

.paquetes {
    padding: 15px;
    height: auto;
    border-radius: 20px;
    background: linear-gradient(180deg,#1b1b1b 0%, #000000 100%);
    box-shadow: 2px 2px 1px rgb(221, 78, 78);
    color:#ffffff;
}

.paquetes h2{
    color:#DC3545;
}

.paquetes li {
    text-align: left;
    font-weight: 300;
    margin-top: 20px;
}

.poderes {
    height: auto;
    background-color: #1b1b1b;
    box-shadow: 2px 2px 1px rgb(221, 78, 78);
    color:#ffffff;
    text-align: left;
    border-radius: 20px;
}

.poderes h2 {
    text-align: center;
}

.poderes li {
    font-size: 20px;
    font-weight: 300;
}



#precio-header {
    font-weight: 800;
    margin-bottom: 0%;
}

#precio {
    text-align: left;
}

.anadir {
    margin-top: auto;
    width: auto;
}

.resenias-container {
    background: linear-gradient(180deg, #f74949 0%, #d25353 100%);
    margin-left: 220px;
    margin-right: 270px;
    border-radius: 10px;
    height: 500px;
}

.resenias-container h2{
    padding-top: 15px;
    color: bisque;
    text-align: center;
}