
body {
    font-family: 'Oswald', sans-serif;
    background: #191919;
    cursor: url(../assets/images/cursor_default.png), auto;
}

a {
    cursor: url(../assets/images/click.png), auto;
}

.navbar {
  background: linear-gradient(180deg, #1a1a1a 0%, #000000 100%);
}

.navbar-brand {
    font-family: 'Oswald', oblique;
    color:#DC3545;
    font-size: 30px;
    font-weight: 500;
}

.buscador{
    margin-left: 45px;
}

.btn:hover {
    cursor: url(../assets/images/click.png), pointer;
}

#mas-info #iniciar-sesion {
    margin-right: 10px;
}

#mas-info .nav-link {
    font-size: 19px;
    color:#DC3545;
    margin-right: 10px;
}

.eslogan {
    height:450px;
    background: linear-gradient(180deg, #040000 0%, #a02424 100%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.eslogan1 {
    font-size: 100px;
    font-weight: 700;
    line-height: 0.9;
}
 
.eslogan2 {
    font-size: 40px;
    font-weight: 300;
    line-height: 0.6;
}