

body {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(90deg, #222222 0%, #000000 100%);
}

.card-option {
    transition: transform 0.2s ease;
    cursor: pointer;
}
.card-option:hover {
    transform: scale(1.05);
    background-color: #DC3545;
}
.icon-circle {
    width: 80px;
    height: 80px;
    background: #eaf1ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    color: #0d6efd;
}

h2 {
    font-weight: bold;
    color: #DC3545;
}

.imagen-icono {
    width: 80px;
}


